
.product-table {
    border-collapse: collapse;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  
  .product-table th,
  .product-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .product-table th {
    background-color: #f2f2f2;
  }
  
  .product-table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .product-table tr:hover {
    background-color: #ddd;
  }
  
  .product-table button {
    padding: 5px 10px;
    margin-right: 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .product-table button:hover {
    background-color: #0056b3;
  }